/*===========================================
// Variables
//==========================================*/

// Colors
$black: #000;

// Media Query Breakpoints
$mq-xs    : 1px;
$mq-s     : 425px;
$mq-m     : 768px;
$mq-l     : 1024px;
$mq-xl    : 1100px;

// Font Stacks, Font Family


// Border
$primary-border: 1px solid grey;
