/*===========================================
// Containers
//==========================================*/

.container {
  display: grid;
  max-width: 80%;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  grid-gap: 30px;
  & a {
    text-decoration: none;
    color: $black;
    &:hover {
      cursor: pointer;
    }
  }
}

.card {
  @include flexify($dir: row, $just: flex-start, $align: center);
  background: $card-background;
  border: $card-border;
  border-radius: 7px;
  transition: transform .5s, box-shadow .5s;
  will-change: transform, box-shadow;
  & img {
    border-radius: 50%;
    margin-right: 10px;
    width: 100px;
  }
  &:hover {
    transform: scale(1.01);
    box-shadow: $card-boxshadow;
  }
}

.picture {
  margin: 20px 10px 20px 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: $modal-background;
}

.modal__window {
  background: $card-background;
  border: $modalwindow-border2;
  border-radius: 8px;
  position: fixed;
  transform: translate3d(563px, 115px, 0);
  height: 400px;
  padding: 20px;
  width: 23%;
  text-align: center;
  will-change: transform, opacity;
  box-shadow: $modalwindow-boxshadow;
  & img {
    border-radius: 50%;
    margin-top: 25px;
  }
  & h3 {
    margin: 2px;
    text-transform: capitalize;
  }
}

.card, .modal__window, .next, .prev {
  @extend %no-text-select;
}
